@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jquery")
<h2>Create</h2>
<style>
</style>
<div id="newComplaintContainer">
    <table class="tblCommon" style="width: 100%">
        <tr>
            <td>Type PIMS Consumer Account # :
                <input type="text" data-bind="value:pimsAccountNumber" />&nbsp;<input type="button" class="editButton" value="  Find  " data-bind="click:findDebtors" /></td>
        </tr>
        <tr>
            <td>
                <div id="debtorResults" style="">
                    <table>
                        <tr>
                            <th>Account</th>
                            <th>FirstName</th>
                            <th>LastNAme</th>
                            <th>Dob</th>
                        </tr>
                        <tbody data-bind="foreach:debtors">
                            <tr>
                                <td data-bind="text:account,click:$root.selectedDebtor"></td>
                                <td data-bind="text:firstName"></td>
                                <td data-bind="text:lastName"></td>
                                <td data-bind="text:dob"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideDebtInformation">Debtor & Debt Information</a></td>
        </tr>
        <tr>
            <td>
                <div id="debtInformation" data-bind="with:complianceModel,visible:showDebtInformation">
                    <table class="debtorInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Consumer Account #</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:account" />
                            <td style="text-align: right; width: 20%">Last 4 of SSN</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:lastFourSSN" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Last Name</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:lastName" />
                            <td style="text-align: right; width: 20%">Verified Debtor Identity?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.debtorIdentities,optionsValue:'Value', optionsText: 'Text', value: $parent.debtorIdentityVerified"></select>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right; width: 20%">First Name</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:firstName" />
                            <td style="text-align: right; width: 20%">Best Contact Method</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.contactMethods,optionsValue:'Value', optionsText: 'Text', optionsCaption: 'Select Best Contact Method', value: contactMethodId"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Address</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:address" />
                            <td style="text-align: right; width: 20%">Best Contact Time</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.contactTimeOptions,optionsValue:'Value', optionsText: 'Text', optionsCaption: 'Select Best Contact Time', value: contactTimeId"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">City</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:city" />
                            <td style="text-align: right; width: 20%">Creditor Name</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:creditorName" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">State</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.stateOptions,optionsValue:'Value', optionsText: 'Text', optionsCaption: 'Select State', value: state"></select>
                            <td style="text-align: right; width: 20%">Debt Product</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.debtProductOptions,optionsValue:'Value', optionsText: 'Text', optionsCaption: 'Select Debt Product', value: debtProductId"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Zip</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:zip" />
                            <td style="text-align: right; width: 20%">Debt Balance at Purchase</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:debtPurchaseBalance" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Home Phone</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:homePhone" />
                            <td style="text-align: right; width: 20%">Debt Balance (Current)</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:debtCurrentBalance" />
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right; width: 20%">Work Phone</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:workPhone" />
                            <td style="text-align: right; width: 20%">Dispute Debt?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.disputeDebtOptions,optionsValue:'Value', optionsText: 'Text', value: disputeDebt"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Mobile Phone</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:mobilePhone" />
                            <td style="text-align: right; width: 20%">Dispute Debt Amount?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.disputeDebtAmtOptions,optionsValue:'Value', optionsText: 'Text', value: disputeDebtAmount"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">&nbsp;</td>
                            <td style="text-align: center; width: 1%"></td>
                            <td style="text-align: left; width: 20%">
                            &nbsp;
                           
                            <td style="text-align: right; width: 20%">Dispute Debt Due Date?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.disputeDebtDueDateOptions,optionsValue:'Value', optionsText: 'Text', value: disputeDebtDueDate"></select>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideComplaintInformation">Complaint Information</a></td>
        </tr>
        <tr>
            <td>
                <div id="complaintInformation" data-bind="with:complianceModel,visible:showComplaintInformation">
                    <table class="complaintInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Complaint ID #</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:complaintID" />
                            <td style="text-align: right; width: 20%">Complaint Date</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="complaiintDate" data-bind="value:complaintDate" />
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Complaint Received By</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.complaintRecvdByOptions,optionsValue:'Value', optionsText: 'Text', optionsCaption: 'Select Method', value: complaintReceivedByMethodId"></select>
                            <td style="text-align: right; width: 20%">Complaint Issue</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.complaintIssueOptions,optionsValue:'Value', optionsText: 'Text', optionsCaption: 'Select Issue', value: complaintIssueId"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Complaint Notes</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="16" data-bind="value:complaintNotes"></textarea>
                            <td style="text-align: right; width: 20%">Upload Document</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="file" data-bind="value:complaintUploadDocument" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Need More Info from Debtor?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.needMoreInfoDebtorOptions,optionsValue:'Value', optionsText: 'Text', value:moreInfoReqdFromDebtor"></select>
                            <td style="text-align: right; width: 20%">Date Requested</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoRequestedDate" data-bind="value:moreInfoRequestedDate" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">More Info Requested</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="16" data-bind="value:moreInfoRequested"></textarea>
                            <td style="text-align: right; width: 20%">More Debtor Info Received?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.moreInfoRecvdDebtorOptions,optionsValue:'Value', optionsText: 'Text', value:moreInfoReceivedFromDebtor"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Date Received</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoReceivedDate" data-bind="value:moreInfoReceivedDate" />
                            <td style="text-align: right; width: 20%">More Info Received</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="16" data-bind="value:moreInfoReceived"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideDebtOwnerProcess">Debt Owner Process</a></td>
        </tr>
        <tr>
            <td>
                <div id="debtOwnerProcess" data-bind="with:complianceModel,visible:showDebtOwnerProcess">
                    <table class="debtOwnerInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Submitted Complaint to Owner?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.complaintSubmittedToOwnerOptions,optionsValue:'Value', optionsText: 'Text', value:complaintSubmittedToOwner"></select>
                            <td style="text-align: right; width: 20%">Date Submitted</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="complaintSubmittedDate" data-bind="value:complaintSubmittedDate" />
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Time to Submit (Days)</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="16" data-bind="value:timeToSubmitDays"></textarea>
                            <td style="text-align: right; width: 20%">Upload Document</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="file" data-bind="value:debtOwnerUploadDocument" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Need More Info from Agency?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.moreInfoFromAgencyOptions,optionsValue:'Value', optionsText: 'Text', value:moreInfoFromAgency"></select>
                            <td style="text-align: right; width: 20%">Date Requested</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoFromAgencyRequestedDate" data-bind="value:moreInfoFromAgencyRequestedDate" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">More Info Requested</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="16" data-bind="value:moreInfoFromAgencyRequested"></textarea>
                            <td style="text-align: right; width: 20%">More Agency Info Received?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.moreInfoFromAgencyReceivedOptions,optionsValue:'Value', optionsText: 'Text', value:moreInfoFromAgencyReceived"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Date Received</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoFromAgencyReceivedDate" data-bind="value:moreInfoFromAgencyReceivedDate" />
                            <td style="text-align: right; width: 20%">More Info Received</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="16" data-bind="value:moreInfoFromAgencyReceived"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Owner Response</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.ownerResponseOptions,optionsValue:'Value', optionsText: 'Text', value:ownerResponseId"></select>
                            <td style="text-align: right; width: 20%">&nbsp;</td>
                            <td style="text-align: center; width: 1%"></td>
                            <td style="text-align: left; width: 20%">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Owner Response to Agency Date</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="ownerResponseDate" data-bind="value:ownerResponseDate" />
                            <td style="text-align: right; width: 20%">Owner Response (Days)</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:ownerResponseDays" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideComplaintClosure">Complaint Closure</a></td>
        </tr>
        <tr>
            <td>
                <div id="complaintClosure" data-bind="with:complianceModel,visible:showComplaintClosure">
                    <table class="complaintClosureInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Agency Response to Debtor Date</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="agencyResponseToDebtorDate" data-bind="value:agencyResponseToDebtorDate" />
                            <td style="text-align: right; width: 20%">Total Response Time (Days)</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:totalResponseTimeDays" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Debtor Agree?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.debotrAgreeOptions,optionsValue:'Value', optionsText: 'Text', value:debotrAgree"></select>
                            <td style="text-align: right; width: 20%">Need further Action?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.needFurtherActionOptions,optionsValue:'Value', optionsText: 'Text', value:needFurtherAction"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Final Action Steps</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.finalActionStepOptions,optionsValue:'Value', optionsText: 'Text', value:finalActionStepId"></select>
                            <td style="text-align: right; width: 20%">&nbsp;</td>
                            <td style="text-align: center; width: 1%"></td>
                            <td style="text-align: left; width: 20%">&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
@Scripts.Render("~/bundles/knockout")
@section scripts{


    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="~/Scripts/compliance.js" type="text/javascript"></script>
    <script type="text/javascript">

        function pageViewModel() {
            var self = this;

            self.complianceModel = new complianceVM();
            self.populateComplainceFromDebtor = function (account, firstName, lastName, dob, address1, address2, city, state, zip, ssn, phoneCell, phoneHome, phoneWork, debtCurrentBalance, debtorPurchaseBalance, creditorName) {
                self.complianceModel.account(account);
                self.complianceModel.firstName(firstName);
                self.complianceModel.lastName(lastName);
                self.complianceModel.dob(dob);
                self.complianceModel.address(address1 + ' ' + address2);
                self.complianceModel.city(city);
                self.complianceModel.state(state);
                self.complianceModel.zip(zip);
                self.complianceModel.lastFourSSN(ssn);
                self.complianceModel.mobilePhone(phoneCell);
                self.complianceModel.homePhone(phoneHome);
                self.complianceModel.workPhone(phoneWork);
                self.complianceModel.debtCurrentBalance(debtCurrentBalance);
                self.complianceModel.debtPurchaseBalance(debtorPurchaseBalance);
                self.complianceModel.creditorName(creditorName);
            }
            self.pimsAccountNumber = ko.observable('');
            self.debtors = ko.observableArray([]);

            self.selectedDebtor = function (debtor) {
                //log(debtor.account());
                self.pimsAccountNumber(debtor.account());
                self.populateComplainceFromDebtor(debtor.account(), debtor.firstName(), debtor.lastName(),debtor.dob(),debtor.address1(),debtor.address2(),debtor.city(),debtor.state(),debtor.zip(),debtor.ssn(),debtor.phoneCell(),debtor.phoneHome(),debtor.phoneWork(),debtor.debtCurrentBalance(),debtor.debtorPurchaseBalance(),debtor.creditorName());
                $("#debtorResults").dialog('close');
            };
            //For Div debtInformation
            self.debtorIdentities = ko.observableArray([]);
            self.contactMethods = ko.observableArray([]);
            self.contactTimeOptions = ko.observableArray([]);
            self.stateOptions = ko.observableArray([]);
            self.debtProductOptions = ko.observableArray([]);
            self.disputeDebtOptions = ko.observableArray([]);
            self.disputeDebtAmtOptions = ko.observableArray([]);
            self.disputeDebtDueDateOptions = ko.observableArray([]);

            //For complaintInformation
            self.complaintRecvdByOptions = ko.observableArray([]);
            self.complaintIssueOptions = ko.observableArray([]);
            self.needMoreInfoDebtorOptions = ko.observableArray([]);
            self.moreInfoRecvdDebtorOptions = ko.observableArray([]);

            //Debt Owner
            self.complaintSubmittedToOwnerOptions = ko.observableArray([]);
            self.moreInfoFromAgencyOptions = ko.observableArray([]);
            self.moreInfoFromAgencyReceivedOptions = ko.observableArray([]);
            self.ownerResponseOptions = ko.observableArray([]);

            //Complaint closure
            self.debotrAgreeOptions = ko.observableArray([]);
            self.needFurtherActionOptions = ko.observableArray([]);
            self.finalActionStepOptions = ko.observableArray([]);

            self.findDebtors = function () {
                if (self.pimsAccountNumber() != '') {
                    log(self.pimsAccountNumber());
                    /*
                    self.debtors.push(new pimsDebtor('12345', 'John', 'Smith', '1/1/1990'));
                    self.debtors.push(new pimsDebtor('12346', 'Steve', 'Smith', '5/1/1981'));
                    self.debtors.push(new pimsDebtor('12347', 'Mack', 'Donald', '1/1/1975'));
                    self.debtors.push(new pimsDebtor('12348', 'George', 'Taylor', '6/1/1988'));
                    self.debtors.push(new pimsDebtor('12349', 'Michale', 'Donald', '1/1/1990'));
                    */
                    $.ajax({
                        //                url: baseUrl + '/api/Portfolio/',
                        url: baseUrl + '/api/Compliance/Debtors/',
                        type: 'GET',
                        contentType: 'application/json',
                        data: { accountNumber: self.pimsAccountNumber() },
                        dataType: 'json',
                        async: true,
                        success: function (data) {
                            $("#loading").html("&nbsp;");
                            $("#loading").dialog('close');
                            log(data.length);
                            if (data.length > 0) {
                                if (data.length > 1) {
                                    $.each(data, function (i, item) {
                                        //log(item);
                                        //salesRecords.push(new salesRecord(item.ID, self.portfolioNumber(), item.Lender, item.Buyer, ((item.Cut_OffDate == undefined) ? '' : $.datepicker.formatDate('mm/dd/yy', cutOffDate)), ((item.ClosingDate == undefined) ? '' : $.datepicker.formatDate('mm/dd/yy', new Date(item.ClosingDate))), item.PutbackTerm_days_, ((item.PutbackDeadline == undefined) ? '' : $.datepicker.formatDate('mm/dd/yy', new Date(item.PutbackDeadline))), item.SalesBasis, ((item.SalesPrice == undefined) ? '' : formatCurrency(item.SalesPrice)), ((item.FaceValue == undefined) ? '' : formatCurrency(item.FaceValue)), item.C_ofAccts, salesBatch, item.Notes));
                                        self.debtors.push(new pimsDebtor(item.Account, item.FirstName, item.LastName, item.DOB, item.Address1, item.Address2, item.City, item.State, item.Zip, item.LastFourSSN, item.MobilePhone, item.HomePhone, item.WorkPhone, item.DebtCurrentBalance, item.DebtPurchaseBalance, item.CreditorName));
                                        $("#debtorResults").dialog('open');
                                    });
                                    log(self.debtors()[0].account());
                                }
                                else {
                                    log(data[0]);
                                    self.populateComplainceFromDebtor(data[0].Account, data[0].FirstName, data[0].LastName, data[0].DOB, data[0].Address1, data[0].Address2, data[0].City, data[0].State, data[0].Zip, data[0].LastFourSSN, data[0].MobilePhone, data[0].HomePhone, data[0].WorkPhone, data[0].DebtCurrentBalance, data[0].DebtPurchaseBalance, data[0].CreditorName);
                                }
                            }
                            else {
                                log(data);
                                //var debtor = self.debtors()[0];
                                //self.populateComplainceFromDebtor(debtor.account(), debtor.firstName(), debtor.lastName());
                            }
                        },
                        error: function (xhr, status, somthing) {
                            log(status);
                        }
                    });
                    //if (self.debtors().length > 1)
                    //    $("#debtorResults").dialog('open');
                    //else {
                    //    var debtor = self.debtors()[0];
                    //    self.populateComplainceFromDebtor(debtor.account(), debtor.firstName(), debtor.lastName());
                    //}
                    //$("#debtorResults").html('<table><tr><th>Thead1</th><th>Thead2</th></tr><tr><td>Data1</td><td>Data2</td></tr></table>');
                }
            }
            self.showDebtInformation = ko.observable(true);
            self.showComplaintInformation = ko.observable(true);
            self.showDebtOwnerProcess = ko.observable(true);
            self.showComplaintClosure = ko.observable(true);
            self.showHideDebtInformation = function () {
                if (self.showDebtInformation())
                    self.showDebtInformation(false);
                else
                    self.showDebtInformation(true);
            }
            self.showHideComplaintInformation = function () {
                if (self.showComplaintInformation())
                    self.showComplaintInformation(false);
                else
                    self.showComplaintInformation(true);
            }
            self.showHideDebtOwnerProcess = function () {
                if (self.showDebtOwnerProcess())
                    self.showDebtOwnerProcess(false);
                else
                    self.showDebtOwnerProcess(true);
            }
            self.showHideComplaintClosure = function () {
                if (self.showComplaintClosure())
                    self.showComplaintClosure(false);
                else
                    self.showComplaintClosure(true);
            }

        }

        $(document).ready(function () {
            $('#debtorResults').dialog({ modal: true, title: 'Select debtor:', autoOpen: false, width: 500, height: 500 });
            ko.applyBindings(new pageViewModel());

            //For DatePicker for Complaint section
            $('#complaiintDate').datepicker();
            $('#moreInfoRequestedDate').datepicker();
            $('#moreInfoReceivedDate').datepicker();
            //Debt Owner
            $('#complaintSubmittedDate').datepicker();
            $('#moreInfoFromAgencyRequestedDate').datepicker();
            $('#moreInfoFromAgencyReceivedDate').datepicker();
            $('#ownerResponseDate').datepicker();

            $('#agencyResponseToDebtorDate').datepicker();
        });



    </script>
}