@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jquery")
<h2>Create</h2>
<style>
</style>
<div id="newComplaintContainer">
    <table class="tblCommon" style="width: 100%">
        <tr>
            <td>Type PIMS Consumer Account # :
                <input type="text" data-bind="value:accountNumber" />&nbsp;<input type="button" class="editButton" value="  Find  " data-bind="click:findData" /></td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideDebtInformation">Debtor & Debt Information</a></td>
        </tr>
        <tr>
            <td>
                <div id="debtInformation" data-bind="visible:showDebtInformation">
                    <table class="debtorInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Consumer Account #</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:accountNumber" />
                            <td style="text-align: right; width: 20%">Last 4 of SSN</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:lastFourSSN" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Last Name</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:lastName" />
                            <td style="text-align: right; width: 20%">Verified Debtor Identity?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:debtorIdentities,optionsValue:'Value', optionsText: 'Text', value: debtorIdentityVerified"></select>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideComplaintInformation">Complaint Information</a></td>
        </tr>
        <tr>
            <td>
                <div id="complaintInformation" data-bind="visible:showComplaintInformation">
                    <ul>
                        <li>test1</li>
                        <li>test2</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideDebtOwnerProcess">Debt Owner Process</a></td>
        </tr>
        <tr>
            <td>
                <div id="debtOwnerProcess" data-bind="visible:showDebtOwnerProcess">
                    <ul>
                        <li>test1</li>
                        <li>test2</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideComplaintClosure">Complaint Closure</a></td>
        </tr>
        <tr>
            <td>
                <div id="complaintClosure" data-bind="visible:showComplaintClosure">
                    <ul>
                        <li>test1</li>
                        <li>test2</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
@Scripts.Render("~/bundles/knockout")
@section scripts{


    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>

    <script type="text/javascript">
        function complianceVM() {
            var self = this;

            self.accountNumber = ko.observable('');
            self.lastName = ko.observable('');
            self.firstName = ko.observable('');
            self.address = ko.observable('');
            self.city = ko.observable('');
            self.state = ko.observable('');
            self.zip = ko.observable('');
            self.homePhone = ko.observable('');
            self.workPhone = ko.observable('');
            self.mobilePhone = ko.observable('');
            self.lastFourSSN = ko.observable('');
            self.debtorIdentityVerified = ko.observable('');
            self.contactMethodId = ko.observable('');
            self.contactTimeId = ko.observable('');
            self.creditorName = ko.observable('');
            self.debtProductId = ko.observable('');
            self.debtPurchaseBalance = ko.observable('');
            self.debtCurrentBalance = ko.observable('');
            self.disputeDebt = ko.observable('');
            self.disputeDebtAmount = ko.observable('');
            self.disputeDebtDueDate = ko.observable('');
            self.complaintID = ko.observable('');
            self.complaiintDate = ko.observable('');
            self.complaintReceivedByMethodId = ko.observable('');
            self.complaintIssueId = ko.observable('');
            self.complaintNotes = ko.observable('');
            self.moreInfoReqdFromDebtor = ko.observable('');
            self.moreInfoRequestedDate = ko.observable('');
            self.moreInfoRequested = ko.observable('');
            self.moreInfoReceivedFromDebtor = ko.observable('');
            self.moreInfoReceivedDate = ko.observable('');
            self.moreInfoReceived = ko.observable('');
            self.complaintSubmittedToOwner = ko.observable('');
            self.complaintSubmittedDate = ko.observable('');
            self.timeToSubmitDays = ko.observable('');
            self.moreInfoFromAgency = ko.observable('');
            self.moreInfoFromAgencyRequestedDate = ko.observable('');
            self.moreInfoFromAgencyRequested = ko.observable('');
            self.moreInfoFromAgencyReceived = ko.observable('');
            self.moreInfoFromAgencyReceivedDate = ko.observable('');
            self.ownerResponseId = ko.observable('');
            self.ownerResponseDate = ko.observable('');
            self.ownerResponseDays = ko.observable('');
            self.agencyResponseToDebtorDate = ko.observable('');
            self.totalResponseTimeDays = ko.observable('');
            self.debotrAgree = ko.observable('');
            self.needFurtherAction = ko.observable('');
            self.finalActionStepId = ko.observable('');

            self.debtorIdentities = ko.observableArray([]);
            self.findData = function () {
                if (self.accountNumber() != '') {
                    log(self.accountNumber());
                }
            }
            self.showDebtInformation = ko.observable(true);
            self.showComplaintInformation = ko.observable(true);
            self.showDebtOwnerProcess = ko.observable(true);
            self.showComplaintClosure = ko.observable(true);
            self.showHideDebtInformation = function () {
                if (self.showDebtInformation())
                    self.showDebtInformation(false);
                else
                    self.showDebtInformation(true);
            }
            self.showHideComplaintInformation = function () {
                if (self.showComplaintInformation())
                    self.showComplaintInformation(false);
                else
                    self.showComplaintInformation(true);
            }
            self.showHideDebtOwnerProcess = function () {
                if (self.showDebtOwnerProcess())
                    self.showDebtOwnerProcess(false);
                else
                    self.showDebtOwnerProcess(true);
            }
            self.showHideComplaintClosure = function () {
                if (self.showComplaintClosure())
                    self.showComplaintClosure(false);
                else
                    self.showComplaintClosure(true);
            }

        }
        $(document).ready(function () {
            ko.applyBindings(new complianceVM());
        });



    </script>
}