@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jquery")
<h2>Create</h2>
<style>
</style>
<div id="newComplaintContainer">
    <table class="tblCommon" style="width: 100%">
        <tr>
            <td>Type PIMS Consumer Account # :
                <input type="text" data-bind="value:pimsAccountNumber" />&nbsp;<input type="button" class="editButton" value="  Find  " data-bind="click:findData" /></td>
        </tr>
        <tr>
            <td>
                <div id="debtorResults" style="">
                    <table>
                        <tr>
                            <th>Account</th>
                            <th>FirstName</th>
                            <th>LastNAme</th>
                            <th>Dob</th>
                        </tr>
                        <tbody data-bind="foreach:debtors">
                            <tr>
                                <td data-bind="text:account,click:$root.selectedDebtor"></td>
                                <td data-bind="text:firstName"></td>
                                <td data-bind="text:lastName"></td>
                                <td data-bind="text:dob"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideDebtInformation">Debtor & Debt Information</a></td>
        </tr>
        <tr>
            <td>
                <div id="debtInformation" data-bind="with:complianceModel,visible:showDebtInformation">
                    <table class="debtorInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Consumer Account #</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:account" />
                            <td style="text-align: right; width: 20%">Last 4 of SSN</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:lastFourSSN" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Last Name</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value:lastName" />
                            <td style="text-align: right; width: 20%">Verified Debtor Identity?</td>
                            <td style="text-align: center; width: 1%">:</td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options:$parent.debtorIdentities,optionsValue:'Value', optionsText: 'Text', value: $parent.debtorIdentityVerified"></select>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideComplaintInformation">Complaint Information</a></td>
        </tr>
        <tr>
            <td>
                <div id="complaintInformation" data-bind="visible:showComplaintInformation">
                    <ul>
                        <li>test1</li>
                        <li>test2</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideDebtOwnerProcess">Debt Owner Process</a></td>
        </tr>
        <tr>
            <td>
                <div id="debtOwnerProcess" data-bind="visible:showDebtOwnerProcess">
                    <ul>
                        <li>test1</li>
                        <li>test2</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d"><a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click:showHideComplaintClosure">Complaint Closure</a></td>
        </tr>
        <tr>
            <td>
                <div id="complaintClosure" data-bind="visible:showComplaintClosure">
                    <ul>
                        <li>test1</li>
                        <li>test2</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
@Scripts.Render("~/bundles/knockout")
@section scripts{


    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="~/Scripts/compliance.js" type="text/javascript"></script>
    <script type="text/javascript">        

        function pageViewModel() {
            var self = this;

            self.complianceModel = new complianceVM();
            self.populateComplainceFromDebtor = function (account, firstName, lastName) {
                self.complianceModel.account(account);
                self.complianceModel.firstName(firstName);
                self.complianceModel.lastName(lastName);
            }
            self.pimsAccountNumber = ko.observable('');
            self.debtors = ko.observableArray([]);

            self.selectedDebtor = function (debtor) {
                //log(debtor.account());
                self.pimsAccountNumber(debtor.account());
                self.populateComplainceFromDebtor(debtor.account(), debtor.firstName(), debtor.lastName());
                $("#debtorResults").dialog('close');
            };
            self.debtorIdentities = ko.observableArray([]);
            self.findData = function () {
                if (self.pimsAccountNumber() != '') {
                    log(self.pimsAccountNumber());
                    self.debtors.push(new pimsDebtor('12345', 'John', 'Smith', '1/1/1990'));
                    self.debtors.push(new pimsDebtor('12346', 'Steve', 'Smith', '5/1/1981'));
                    self.debtors.push(new pimsDebtor('12347', 'Mack', 'Donald', '1/1/1975'));
                    self.debtors.push(new pimsDebtor('12348', 'George', 'Taylor', '6/1/1988'));
                    self.debtors.push(new pimsDebtor('12349', 'Michale', 'Donald', '1/1/1990'));

                    if (self.debtors().length > 1)
                        $("#debtorResults").dialog('open');
                    else {
                        var debtor = self.debtors()[0];
                        self.populateComplainceFromDebtor(debtor.account(), debtor.firstName(), debtor.lastName());
                    }
                    //$("#debtorResults").html('<table><tr><th>Thead1</th><th>Thead2</th></tr><tr><td>Data1</td><td>Data2</td></tr></table>');
                }
            }
            self.showDebtInformation = ko.observable(true);
            self.showComplaintInformation = ko.observable(true);
            self.showDebtOwnerProcess = ko.observable(true);
            self.showComplaintClosure = ko.observable(true);
            self.showHideDebtInformation = function () {
                if (self.showDebtInformation())
                    self.showDebtInformation(false);
                else
                    self.showDebtInformation(true);
            }
            self.showHideComplaintInformation = function () {
                if (self.showComplaintInformation())
                    self.showComplaintInformation(false);
                else
                    self.showComplaintInformation(true);
            }
            self.showHideDebtOwnerProcess = function () {
                if (self.showDebtOwnerProcess())
                    self.showDebtOwnerProcess(false);
                else
                    self.showDebtOwnerProcess(true);
            }
            self.showHideComplaintClosure = function () {
                if (self.showComplaintClosure())
                    self.showComplaintClosure(false);
                else
                    self.showComplaintClosure(true);
            }

        }

        $(document).ready(function () {
            $('#debtorResults').dialog({ modal: true, title: 'Select debtor:', autoOpen: false, width: 500, height: 500 });
            ko.applyBindings(new pageViewModel());
        });



    </script>
}