@model Cascade.UI.Controls.CascadeMenuCollection
@using Cascade.Web.ApplicationIntegration
<ul id="menu" class="dropdown">
    @{  
        IEnumerable<Cascade.UI.Controls.Menu> topMenus = Model.MenuItems.Where(i => i.ParentId == 0).OrderBy(i => i.SortOrder);//.ThenBy(i => i.Text);
        Cascade.UI.Controls.CascadeMenu menuItem;
        foreach (var item in topMenus)
        {
            menuItem = ((Cascade.UI.Controls.CascadeMenu)item);
            if (item.IsActive)
            {
                
        <li>@Html.CreateLink(menuItem.Text, menuItem.Action,menuItem.Controller, menuItem.Area )
            @if (Model.MenuItemHasChildren(menuItem.Id))
            {
                IEnumerable<Cascade.UI.Controls.CascadeMenu> items = Model.GetChildMenuItems(menuItem.Id);
                <ul class="sub_menu">
                    @foreach (var subItem in items)
                    {
                        <li>
                            @Html.ActionLink(subItem.Text, subItem.Action, subItem.Controller, new { area = menuItem.Area }, null)
                        </li>
                    }
                </ul>
            }
        </li>
            }
        }
    }
</ul>
