@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@model Cascade.Web.Models.PagedViewModel<Cascade.Data.Models.TBL_COMPANIES>

@{
    ViewBag.Title = "Basic";
}

<h2>Search Rsults:</h2>
@Html.Pager(Model.PagedList).First("First").Last("Last").Next("Next").Previous("Previous")
@Html.Grid(Model.PagedList).Columns(column =>{
    column.For(record => record.COMPANIESID);
})
@section scripts{
}
